body {
    background: linear-gradient(
        180deg,
        #dfefff,
        #eef7ff,
        #f9fbff 
        );
    font-family: "Trebuchet MS", "Verdana", sans-serif;
    text-align: center;
    margin-top: 60px;
}

h1 {
    color: #4b6cb7;
    font-size: 52px;
}

p {
    font-size: 24px;
    color: #444;
}

button {
   width:100%;
   margin:15px 0;
   padding:20px;

   border:none;
   border-radius:18px;

   background:#6C63FF;
   color:white;

   font-size:22px;
   font-weight:bold;

   cursor:pointer;

   transition: 0.25s;
}

button:hover {
    background-color:#564bd9;
    transform: translateY(-3px);
}

.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -4px 20px rgba(0,0,0,0.2);
    font-size: 22px;
}

#popupContent {
    background: white;
    width: 100%;
    padding: 25px;
    border-radius: 20px 20px 0 0;
}

.hidden {
    display: none;
}

h2{
    color:#6C63FF;
}

.card {
    background: white;
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.intro {
    line-height: 1.7;
    margin-bottom: 35px;
}

.character-placeholder {
    font-size:110px;
    margin: 25px 0;
}